<a href="https://colab.research.google.com/github/GitAd7/GitAd7/blob/main/Oscar_DataSet_Analysis(Web_Scrapping).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Numpy
import numpy as np

# Pandas
import pandas as pd

#matplotlib
import matplotlib.pyplot as plt

# Seaborn
import seaborn as sns

# Beautiful Soap
from bs4 import BeautifulSoup

# Request
import requests

# RegEx (used to clean raw data from the web entierly)
import re

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films"
req = requests.get(url)
soup = BeautifulSoup(req.content)
soup.prettify()
Film = []
Year = []
Award = []
Nomination = []
count = 0
for i in soup.find_all('td'):
  i = re.sub('^<td>.*">|<td>|</td>|<.*>|\n',"",str(i))
  if count ==0:
    Film.append(i)
    count += 1
    str(Film)
  elif count ==1:
    Year.append(i)
    count += 1
  elif count ==2:
    Award.append(i)
    count += 1
  else :
    count =0
    Nomination.append(i)

Oscar = pd.DataFrame({"Film": Film[:1347], "Year":Year[:1347], "Award":Award[:1347], "Nomination":Nomination[:1347]})
Oscar.head()

                      Film  Year Award Nomination
0                     CODA  2021     3          3
1                     Dune  2021     6         10
2   The Eyes of Tammy Faye  2021     2          2
3           No Time to Die  2021     1          3
4     The Windshield Wiper  2021     1          1

In [4]:
Oscar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1347 entries, 0 to 1346
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Film        1347 non-null   object
 1   Year        1347 non-null   object
 2   Award       1347 non-null   object
 3   Nomination  1347 non-null   object
dtypes: object(4)
memory usage: 42.2+ KB

In [5]:
Oscar.drop(0, inplace=True)